.im{
width:1400px ;
height: 655px;

}
.movie-card:hover{
.top-right-button {
    position: absolute;
    top: -110px;  
    right: 5px;  
     background-color: transparent;
    border: none;
    cursor: pointer;
    color: white; 
    font-size: 15px;
    overflow-y: hidden;
    
   } 
}
  .top-right-button i {
    margin-right: 5px;
  } 
   
  

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.close:hover {
  color: red;
} 

.modal {
  position: fixed;
  margin-top: -5%;
  margin-left: 25%;
  background-color: rgba(24, 22, 22, 0.795);
  border-radius: 5px;
  width: 50%;
  max-width: 80%; /* Max width of the modal */
  height: 70%; 
  max-height: 80%; 
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.modal-content {
  padding: 5px;
  width: auto; 
  max-height: 100%; 
  overflow-y: auto; 
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: -50px;
}
.movie-card-modal img {
  max-width: 100%; /*image fits within its container */
  height: 200px; /* Fixed height for the images */
  margin-left: -30px;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
}
.close:hover {
  color: rgb(0, 26, 255);
}

.favorites-head {
  color: rgb(130, 103, 209);
  top: 20px;
  margin-left:50px;
 
}

.head-modal {
  color: rgb(240, 228, 228);
  margin-top: 30px;
  margin-left: -20px;
}
.movie-card-modal {
  position: relative;
  display: inline-block;
}

.star-icons {
  position: absolute;
  top: 53px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}


.detaildlist{
 

 margin-top:40%;
 height: 100px;

}